/*For desktop*/


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*Navbar designs start*/

.nav-log{
	text-align:left;
}
.nav-title h1{
	text-align:right;
}
.nav-menu{
	flex-direction:row;
	justify-content:flex-end;
}
.nav-menu a{
	padding:5px 10px;
	margin:20px 0;
	background-color:transparent;
}
/*Navbar designs end*/

/*Profile designs start here*/
	.top-weather-icon {
	width: 120px;
	right: 150px;
	transition:width 2s, transform 2s;
}
.top-weather-icon:hover{
	width:140px;
}
.profile-disc p{
		text-align:center;
		color:gray;
		margin:20px auto;
		width:50%;
		
	}
.bottom-weather-icon {
		
	width: 120px;
	
	bottom:20px;
	left: 150px;
	transition:width 2s,transform 2s;
}
.bottom-weather-icon:hover{
	width:140px;
}
.profile::after{
	content:'';
	clear:both;
	display:both;
}

/*Profile designs end*/

/*about me designs end*/
.about-img{
	margin-top:100px;
}
.about-img img{
	height:270px;
	width:250px;
}
.about-desc p{
	text-align:left;
}
/*about me designs end*/


/*footer starts*/
.footer-menu a{
		display:block;
		margin:15px 0;
		font-size:1.5rem;
		
	}
	.footer-menu a:hover{
		color:gray;
		
	}
.footer-desc{
		font-size:2rem;
		text-align:center;
		margin:40px 0;
		
	}
/*footer ends*/

